{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <h1>{{info}}</h1>
 
  {% if articles %} 
  <div class="row">
    
    {% for article in articles %}
    <div class="card col-md-3" style="width: 18rem;">
      <img src="{{ article.image }}" height="200" class="card-img-top" alt="{{article.title}}">
      <div class="card-body">
        <p class="card-text">{{ article.title}}</p>
        <a href="/article/{{ article._id}}"  class="btn btn-primary">More infos</a>
      </div>
    </div>

    {% endfor %}  
  {% endif %}
  </div>
    

{% endblock %}
